@import "generales";

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  section {
    background-color: white;
  }
  
  .pie-de-pagina {
    color: white;
    background-color: black;
    display: grid;
    grid-template-areas: "direccion" "copy";
    justify-content: center;
    padding: 1rem;
    margin-top: auto;
  }
  
  .copy {
    grid-area: copy;
    margin: 0 auto;
  }
  
  .direccion {
    color: white;
    grid-area: direccion;
  }
  
  
  .cat1 {
    margin-left: 600px;
  }
  
  .parrafo {
    margin-top: 25px;
  }
  
  h2 {
    margin-top: 25px;
    padding-left: 10px;
  }
  

  .cat2 {
    margin-top: 20px;
    padding-left: 320px;
  }
  
  form {
    margin-top: 20px;
  }
  
  legend {
    margin-bottom: 20px;
  }
  
  .cat3 {
    margin-top: 20px;
  }
  
  
  .contenedor-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    width: 80%;
    grid-gap: 1rem;
  }
  
  .contenedor-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .img-ancha {
    grid-column-start: span 2;
  }
  
  .img-larga {
    grid-column-start: span 2;
  }

  .mx-auto {
    margin-bottom: 30px;

  }
  
  .socio {
    padding-left: 2%;
   }

  @media screen and (max-width: 500px) {
    h2 {
      padding-left: 50px;
      margin-top: 50px;
    }
  
    .subtitulo2 {
      padding-left: 1px;
      margin-bottom: 50px;
    }
  
    .cat {
      flex-direction: column;
    }
  
    .galery {
      padding-left: 190px;
    }
}